:root {
    --even: beige;
    --odd: azure;
    --primary: aliceblue;
    --tes: #f5f5dc;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    list-style-type: none;
}
html {
    scroll-behavior: smooth;
}

body {
    font-family: Calibri, Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

.even {
    background-color: beige;
}

.odd {
    background-color: azure;
}

nav {
    background-color: #333;
    display: flex;
    justify-content: space-between;
    top: 0;
    left: 0;
    right: 0;
    /* width: 100%; */
    /* height: 75px; */
    padding: 1.4rem 10%;
    align-items: center;
    position: fixed;
    z-index: 1000;
    box-shadow: 0 0 5px 1px #333;
}

.logo a {
    /* margin-left: 50px; */
    color: aliceblue;
    font-size: 2rem;
    font-weight: 700;
}

.navigation {
    display: flex;
}

.navigation li {
    padding-right: 10px;
}

.navigation li a {
    padding: 10px 15px;
    color: aliceblue;
}

.navigation li a:hover {
    background-color: #ffffff;
    color: #333;
    border-radius: 15px;
    transition: all ease-in-out 0.2s;
}
.openbtn {
    display: none;
}

.home {
    background-image: url(assets/thumbnail/hero.jpg);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero {
    /* display: flex; */
    /* align-items: center; */
    min-height: 100vh;
    padding: 1.4rem 10%;
    /* background-color: rgb(51, 51, 51, .3); */
    background: linear-gradient(to bottom, rgba(51, 51, 51, 0.3) 0%, rgba(51, 51, 51, 0.3) 80%, var(--tes));
}

.hero-text {
    /* background-color: aquamarine; */
    position: absolute;
    bottom: 150px;
    color: whitesmoke;
    text-shadow: 0 0 20px #333;
}

.hero-text h1 {
    font-size: 4rem;
}
.hero-text a {
    background-color: #0055ff;
    font-weight: 600;
    color: aliceblue;
    display: inline-block;
    margin-top: 20px;
    padding: 1em;
    border-radius: 20px;
    font-size: 1.5rem;
}
.hero-text a:hover {
    background-color: #4080ff;
}

/* ABOUT US */

.about,
.product {
    padding: 7.5rem 0 1.4rem;
}

.about {
    background: linear-gradient(to bottom, var(--tes) 0%, var(--tes) 90%, var(--primary));
    margin-bottom: 6rem;
}

.about h2 {
    text-align: center;
    font-size: 2.3rem;
    margin-bottom: 3rem;
}

.about-content {
    display: flex;
    flex: wrap;
    margin: 20px auto;
    justify-content: space-between;
    width: 80%;
    padding: 10px;
    background-color: #fff;
    border-radius: 2%;
}

.about-content div {
    margin: 10px;
}
.about-text {
    font-size: 1.3rem;
    flex: 1 1 28rem;
}

.about-text h3 {
    font-size: 1.6rem;
    line-height: 50px;
}

.about-image {
    max-width: 800px;
    flex: 1 1 30rem;
}

.about-image img {
    width: 100%;
    border-radius: 5px;
}

/* PRODUCT */

.product h2 {
    text-align: center;
    font-size: 2.3rem;
    margin-bottom: 1rem;
}

.product h3 {
    text-align: center;
    /* font-size: 1.6rem; */
    font-weight: 400;
    margin-bottom: 1.5rem;
}

.product {
    height: 100vh;
    width: 90%;
    margin: 20px auto;
    align-items: center;
    text-align: center;
}

.product-grid {
    /* background-color: #333; */
    font-size: 2rem;
    max-width: 1350px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-item {
    margin: 1rem;
    box-shadow: 1px 1px 5px #aaaaaa;
}

.product-item,
.product-item img {
    border-radius: 5px;
}

.product-item img {
    max-width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
    height: 200px;
}

.contact {
    text-align: center;
}

footer {
    padding: 2rem 0;
    text-align: center;
    background-color: #333;
    color: aliceblue;
}
.nav-footer a {
    padding: 1rem 0;
    color: aliceblue;
}
.copyright a {
    padding: 1rem 0;
    color: aliceblue;
}

/* -----------------------PRODUCT.php-------------- */
.product-options {
    /* position: absolute; */
    padding: 20px;
}
.btn-add {
    /* position: absolute; */
    background-color: #0055ff;
    font-weight: 600;
    color: aliceblue;
    padding: 1em;
    border-radius: 7px;
    font-size: 1rem;
    /* right: 15%;
    top: 23%; */
}
.btn-change {
    background-color: #11ff00;
    font-weight: 600;
    color: aliceblue;
    padding: 1em;
    border-radius: 7px;
    font-size: 1rem;
}
.btn-delete {
    background-color: #ff0000;
    font-weight: 600;
    color: aliceblue;
    padding: 1em;
    border-radius: 7px;
    font-size: 1rem;
}
.btn-grey {
    background-color: #989898;
    font-weight: 600;
    color: aliceblue;
    padding: 1em;
    border-radius: 7px;
    font-size: 1rem;
}
/* AKHIR PRODUK */

.btn-add:hover {
    background-color: #4080ff;
}
.btn-grey:hover {
    color: #888888;
    outline: currentColor solid 1px;
    background-color: #ededed;
}
.btn-change:hover {
    background-color: #7dff4a;
}
.btn-delete:hover {
    background-color: #fd4848;
}

.product-properties {
    /* max-width: 1350px; */
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: #333; */
}
.option select {
    /* background-color: #333; */
    padding: 0.3rem 1rem;
    border-radius: 5px;
    border: 1px solid #989898;
}
/* .search {
    border: 1px solid #989898;
} */
.search input {
    padding: 0.3rem 3rem;
    border: 1px solid #989898;
}
.search button {
    padding: 0.3rem 0;
    border: 1px solid #989898;
}

/*///////////////////////////////////////////////////// DETAIL\\\\\\\\ //////////////////////////////////////*/
.detail {
    font-size: 1.5rem;
    width: 90%;
    margin: 120px auto;
}
.deskripsi {
    margin: 1.5rem auto;
    max-width: 1920px;
    box-sizing: border-box;
    padding: 20px;
    box-shadow: 2px 2px 8px 0px #ccced1;
    /* border: 1 px solid #989898; */
    /* background-color: #333; */
}
.deskripsi h2 {
    margin: 1rem 0px;
}
.atas {
    display: flex;
    flex: wrap;
    margin: 20px auto;
    justify-content: space-between;
    width: 90%;
    padding: 10px;
    background-color: #fff;
    border-radius: 2%;
}
.data {
    order: 2;
    font-size: 1.3rem;
    flex: 1 1 28rem;
    margin: 50px auto;
    padding: 30px;
}
.data span {
    font-weight: lighter;
}
.image-carousel {
    order: 1;
    /* padding: 10px; */
    /* width: 500px; */
    max-width: 700px;
    box-shadow: 2px 2px 8px 0px #ccced1;
    flex: 1 1 30rem;
    border-radius: 2%;
}
.owl-stage {
    display: flex;
    align-items: center;
}

.owl-item img {
    height: 30rem;
    /* aspect-ratio: 16/9; */
    object-fit: cover;
}

.owl-prev,
.owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    font-size: 100px !important;
    color: #333;
    cursor: pointer;
}

.owl-prev {
    left: 0;
}

.owl-next {
    right: 0;
}

.edit a {
    display: inline-block;
    margin: 5px;
}

/* Edit */

.item {
    font-size: 1.3rem;
    font-weight: 500;
    margin: 1rem 0;
}
.item input {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ccced1;
    font-size: 1rem;
}
.item select {
    margin-bottom: 2rem;
    padding: 0.8rem;
    border: 2px solid #0055ff;
    border-radius: 7px;
}
.item .thumbnail {
    display: inline-block;
}
.detail .button {
    margin: 1.3rem 0;
}

/*----------------- RESPONSIVE BREAKPOINT ----------------- */

/* Laptop */
@media (max-width: 1366px) {
    html {
        font-size: 75%;
    }
}

/* Tablet */
@media (max-width: 768px) {
    html {
        font-size: 62.5%;
    }
    nav {
        justify-content: center;
    }
    .navigation {
        position: absolute;
        display: block;
        font-size: 2.6rem;
        margin-top: 50px;
        width: 40%;
        height: 100vh;
        top: 0;
        left: 0;
        background-color: rgba(51, 51, 51, 0.7);
    }
    .navigation li {
        /* background-color: #0055ff; */
        margin: 30px auto;
        padding-right: 10px;
    }

    .navigation li a:hover {
        padding: 10px 15px;
        /* color: aliceblue; */
        background-color: inherit;
    }
    .openbtn {
        display: inline;
    }
    .about-content {
        flex-wrap: wrap;
    }
    .atas {
        flex-wrap: wrap;
    }
    .about-content div {
        width: 100%;
        margin: 10px auto;
    }
    .atas div {
        width: 100%;
        margin: 10px auto;
    }
    .about-image img {
        height: 22rem;
        object-fit: cover;
    }
    .owl-item img {
        height: 30rem;
        object-fit: cover;
    }
    .product-grid {
        width: 100%;
    }
}

@media (max-width: 640px) {
    .navigation {
        width: 50%;
    }
    .product {
        width: 90%;
        margin: 1rem auto;
    }
    .product-item img {
        aspect-ratio: 7/6;
        height: 200px;
    }
}

/* Handphone */
@media (max-width: 576px) {
    .product-item img {
        max-width: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
        height: 200px;
    }
    .product-item {
        margin: 0.5rem;
    }
}
@media (max-width: 479px) {
    html {
        font-size: 62.5%;
    }
    .product-item img {
        height: 150px;
    }
}
